body{
	font-family: Open Sans;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	margin:0;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #D3D3D3;
}



/* BANNER */
.banner {

    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;;
  	min-height: 600px;
}

.banner-middle {
	padding: 80px;
	padding-top: 170px;
	padding-bottom: 0;
	width: 50%;
    margin: 0 auto;
	/*float: left;*/
	text-align: center;;
}

.banner-middle h1{
    font-size:40px;
	font-weight: normal;

    letter-spacing: 10px;
}

.banner-middle h2{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: lighter;
	letter-spacing: 5px;
    margin: 15px 0 30px 0;
	padding-top: 15px;
}

.banner-middle .border {
  background: black;
  width: 80%;
  margin: 0 auto;
  padding: 1px;
}

/* END BANNER */

.about h2 {
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	color: black;
	letter-spacing: 5px;
	padding-top: 50px;
	position:static;
}

.about u {
	text-decoration: none;
	border-bottom: 0px solid black;


}


.about p {
	padding-left: 100px;
	padding-right: 100px;
	line-height: 30px;
	/*text-align: center;*/
	font-weight: 550;
	color: black;
	margin-bottom: 90px;
	width: 47%;
    margin: 0 auto;
	float: left;
}

.myImage {
  float: right;
  width: 32%;
  padding-right: 50px;
}

.portfolio-section h2 {
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	color: black;
	letter-spacing: 5px;
	padding-top: 50px;
}

.experience {
	width: 75%;
    margin: 0 auto;
	margin-bottom: 80px;
}

.experience h3 {
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 25px;
	text-decoration: none;
}

.experience h4 {
	margin-bottom: -15px;
	font-weight: 600;
}

.experience .border {
  background: #D3D3D3;
  width: 100%;
  margin: 0 auto;
  padding: 1px;
}

.contact {
	width: 50%;
	margin: 0 auto;
}

.contact h2 {
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	color: black;
	letter-spacing: 5px;
	padding-top: 50px;

}

.quote {
	text-align: center;
}

.contact a {
	display: block;
	line-height: 40px;
	text-align: center;
	font-weight: 550;
	font-size: 30px;
	color: black;
	width: 50%;
    margin: 0 auto;
	text-decoration: none;
	margin-bottom: 50px;

}

.contact a:hover {
	font-weight: 600;
}

.contact img {
	width: 50px;
}

.contact .email {
	text-align: center;
	display: block;

}

.contact .github img {
	width: 60px;
}

.contact img:hover {
	transform: scale(1.25);
}
